/****Font Families

font-family: adorn-condensed-sans, sans-serif;
font-weight: 400;
font-style: normal;

font-family: adorn-roman, sans-serif;
font-weight: 400;
font-style: normal;

font-family: alegreya, serif;
font-weight: 400;
font-style: normal;

font-family: reenie-beanie, sans-serif;
font-weight: 500;
font-style: normal;



/*****BASE STYLES*****/

body {
    font-family: 'alegreya', serif;
    color: #2b2b2b;
}


#work {
    height: 1800px;
}


#about {
  height: 700px;
}


#contact {
    height: 400px;
}


/**** layout ****/

.full-width {
  width: 1440px;
  margin: 0 auto;
}

.half-width {
    width: 720px;
    float: left;
}

.third-width {
  width: 480px;
  float: left;
}

/**** HEADER *****/


header {
    height: 700px;
    background: url("../img/dog-img.png");
    background-size: cover;
    background-color: #ebebeb;
}


header h1 {
    font-family: 'reenie-beanie', sans-serif;
    color: #2b2b2b;
    font-size: 48px;
    padding: 40px 0 30px;
  }

nav {
    float: right;
    margin: 0;
    padding: 40px 30px 0 0;

}

nav ul li {
    display: inline-block;

}

nav ul li a {
    font-family: 'adorn-condensed-sans', sans-serif;
    font-size: 36px;
    text-decoration: none;
    color: #2b2b2b;
    padding-left: 20px;

}


/*****PORTFOLIO*****/


#work  {
    text-align: left;
}


#work .full-width {
      padding: 15px 10px;
      margin: 0 auto;
}

#work .half-width {
  width: 520px;

}

#work h2 {
    font-family: 'adorn-condensed-sans', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #2b2b2b;

}

#work h5 {
    font-family: 'adorn-roman', sans-serif;
    font-size: 34px;
}


/**#work p {
    clear: both;
    width: 350px;
    font-family: 'alegreya', serif;
    font-size: 24px;
    line-height: 30px;
}**/

/******WEB Portfolio ******/

#jubp {
  padding-top: 20px;
}

#jubp p {
  font-family: 'alegreya', serif;
  font-size: 24px;
}


#jubimg {
  float: left;
  margin: 75px 50px 25px 250px;
  padding: 20px 25px;

}

#rogp p {
  font-family: 'alegreya', serif;
  font-size: 24px;
}

#rogp a:link {
    color: #2b2b2b;
    text-decoration: none;
}

#rogp a:visited {
    color: #2b2b2b;
    text-decoration: none;
}

#rogp a:hover {
    color: #122932;
    text-decoration: none;
}


#rogp a:active {
    color: #2b2b2b;
    text-decoration: none;
}

#rogimg {
    float: left;
    margin: 75px 50px 25px 250px;
    padding: 20px 25px;
  /**  margin-left: 250px;
    margin-right: 50px;
    padding: 20px 25px;**/
}

#manp {
  padding-top: 20px;
}

#manp p {
  font-family: 'alegreya', serif;
  font-size: 24px;
}


#manimg {
  float: left;
  margin: 75px 50px 25px 250px;
  padding: 20px 25px;

}

/**Service Section**/


/*****ABOUT ****/

#about {
  width: 100%;
  background-color: #ebebeb;

}

#about .full-width {
    padding: 15px 10px;
    margin: 0 auto;

}

#about h2 {
  font-family: 'adorn-roman', sans-serif;
  font-size: 48px;
  text-align: center;
  color: #2b2b2b;
  padding-bottom: 15px;

}


/**#about #info {

    text-align: center;
    padding: 15px 45px;
    margin: 45px 0 0 300px;
    background-color: rgba(255, 255, 255, 0.95);
    border-left: 7px inset rgba(35, 35, 35, 0.5);
    border-bottom: 10px inset rgba(0, 0, 0, 0.7);
    border-right: 7px inset rgba(35, 35, 35, 0.5);
    border-top: 10px inset rgba(0, 0, 0, 0.7);
    border-radius: .5%;
  }**/


#about aboutimg {
    border: 3px /**inset rgba(127, 127, 127, 0.5);**/
    border-color: #cccccc;
    border-radius: 50%;
}

#about p {
    font-family: 'alegreya', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #282828;
    padding: 35px;
  }


  #about p span {
      text-decoration: underline #fda92f;
      font-family: 'Nothing You Could Do', cursive;
      font-size: 26px;
  }
  #about a:link {
      color: #31424b;
      text-decoration: none;
  }

  #about a:visited {
      color: #31424b;
      text-decoration: none;
  }

  #about a:hover {
      color: #fda92f;
      text-decoration: none;
  }

  #about a:active {
      color: #31424b;
      text-decoration: none;
  }

/****** CONTACT *****/


#contact .full-width {
    padding: 15px 10px;
    margin: 0 auto;
    height: 400px;
}

#contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #31424b;
    text-shadow: 0 3px #ebebeb;
}


#contact a {
    text-decoration: none;
    color:  #fda92f;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#contact #email {
  float: left;
  text-align: center;
  padding: 25px 0 0 355px;

}


#contact #social {
    width: 700px;
    padding: 50px 0 0 440px;

}


#contact #social h4, #contact #email h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #31424b;

}
#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;

}

#contact img {
    width: 15%;
    padding-left: 2px;
}

#contact #cat {
    float: right;
    padding-left: 100px;
    margin: 0 auto;

}
