/****Font Families

font-family: adorn-condensed-sans, sans-serif;
font-weight: 400;
font-style: normal;

font-family: adorn-roman, sans-serif;
font-weight: 400;
font-style: normal;

font-family: alegreya, serif;
font-weight: 400;
font-style: normal;

font-family: reenie-beanie, sans-serif;
font-weight: 500;
font-style: normal;



/*****BASE STYLES*****/

body {
    font-family: 'Roboto', sans-serif;
    color: #31424b;
}


#work {
    height: 1700px;
}


#about {
  height: 964px;
}


#contact {
    height: 400px;
}


/**** layout ****/

.full-width {
  width: 1400px;
  margin: 0 auto;
}

.half-width {
    width: 700px;
    float: left;
}

/**** HEADER *****/


header {
    height: 700px;
    background: url("../img/updatebg2.png");
    background-size: cover;
    background-color: #ffffff;
  /****  background-repeat: *****/
}


header h1 {
    font-family: 'Nothing You Could Do', cursive;
    color: #31424b;
    text-shadow: 0 3px #ebebeb;
    font-size: 26px;
    padding: 20px 0 0 40px;
  }

header h2 {
    clear: both;
    font-family: 'Cutive Mono', monospace;
    font-size: 18px;
    color: #31424b;
    text-shadow: 3px 3px #ebebeb;
    padding-left: 45px
  }

  header h2 span {
      color: #fda92f;
  }


nav {
    float: right;
    margin: 0;
    padding: 20px 20px 0 0;

}

nav ul li {
    display: inline-block;

}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
    color: #31424b;
    text-shadow: 0 1px #ebebeb;
    padding-left: 20px;

}


/*****PORTFOLIO*****/


#work  {
    text-align: left;
}


#work .full-width {
      padding: 15px 10px;
      margin: 0 auto;
}

#work .half-width {
  width: 500px;

}

#work h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #31424b;
    text-shadow: 0 3px #ebebeb;

}

#work h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;

}

#work h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    border-bottom: .3px solid #fda92f;
    width: 195px;
}


#work p {
    font-size: 18px;
    clear: both;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

/******WEB Portfolio ******/

#webp {
  padding-top: 75px;
}

#webp p {
  font-family: 'Montserrat', sans-serif;
}


#webimg {
  float: left;
  margin: 75px 50px 25px 250px;
  border-bottom: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
  border-left: 2px solid #ebebeb;
  padding: 20px 25px;


}

#jap p {
  font-family: 'Montserrat', sans-serif;
}

#jap a:link {
    color: #31424b;
    text-decoration: none;
}

#jap a:visited {
    color: #31424b;
    text-decoration: none;
}

#jap a:hover {
    color: #fda92f;
    text-decoration: none;
}


#jap a:active {
    color: #31424b;
    text-decoration: none;
}

#work p span {
    border-bottom: 1px solid #fda92f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#jaimg {
    float: left;
    margin-left: 250px;
    margin-right: 50px;
    border-bottom: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
    border-left: 2px solid #ebebeb;
    padding: 20px 25px;

}


/*****PHOTOS AND ILLUSTRATIONS ******/

#drawp {
    float: left;
    margin-left: 251px;
    margin-top: 200px;
    padding-left: 45px;
    border-left: 2px solid #ebebeb;
}

#drawp p {
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;

}

#drawp h4 {
    font-family: 'Montserrat', sans-serif;
}

#drawp span {
    color: #fda92f;
}

#drawp a:link {
    color: #31424b;
    text-decoration: none;
}

#drawp a:visited {
    color: #31424b;
    text-decoration: none;
}

#drawp a:hover {
    color: #fda92f;
    text-decoration: none;
}

#drawp a:active {
    color: #31424b;
    text-decoration: none;
}

#illustrations {
    float: right;
    padding-top: 130px;
    margin-right: 98px;
}

#illustrations p {
    text-align: right;
    margin-right: 100px;
    clear: both;

}

#work #poppy {
    margin-right: 5px;
    height: 7%;
    float: right;
}

/*****ABOUT ****/

#about {
  background: url("../img/snow-bg.png");
  background-size: cover;
  width: 100%;
  background-color: #ebebeb;

}

#about .full-width {
    padding: 15px 10px;
    margin: 0 auto;

}

#about h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-align: center;
  color: #31424b;
  text-shadow: 0 3px #ebebeb;
  padding-bottom: 15px;

}


#about #info {

    text-align: center;
    padding: 15px 45px;
    margin: 45px 0 0 300px;
    background-color: rgba(255, 255, 255, 0.95);
    border-left: 7px inset rgba(35, 35, 35, 0.5);
    border-bottom: 10px inset rgba(0, 0, 0, 0.7);
    border-right: 7px inset rgba(35, 35, 35, 0.5);
    border-top: 10px inset rgba(0, 0, 0, 0.7);
    border-radius: .5%;
  }


#about img {
    border: 7px inset rgba(127, 127, 127, 0.5);
    border-radius: 50%;
}

#about p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #282828;
    padding: 35px;
  }


  #about p span {
      text-decoration: underline #fda92f;
      font-family: 'Nothing You Could Do', cursive;
      font-size: 26px;
  }
  #about a:link {
      color: #31424b;
      text-decoration: none;
  }

  #about a:visited {
      color: #31424b;
      text-decoration: none;
  }

  #about a:hover {
      color: #fda92f;
      text-decoration: none;
  }

  #about a:active {
      color: #31424b;
      text-decoration: none;
  }

/****** CONTACT *****/


#contact .full-width {
    padding: 15px 10px;
    margin: 0 auto;
    height: 400px;
}

#contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #31424b;
    text-shadow: 0 3px #ebebeb;
}


#contact a {
    text-decoration: none;
    color:  #fda92f;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#contact #email {
  float: left;
  text-align: center;
  padding: 25px 0 0 355px;

}


#contact #social {
    width: 700px;
    padding: 50px 0 0 440px;

}


#contact #social h4, #contact #email h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #31424b;

}
#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;

}

#contact img {
    width: 15%;
    padding-left: 2px;
}

#contact #cat {
    float: right;
    padding-left: 100px;
    margin: 0 auto;

}
