/****Font Families

font-family: adorn-condensed-sans, sans-serif;
font-weight: 400;
font-style: normal;

font-family: adorn-roman, sans-serif;
font-weight: 400;
font-style: normal;

font-family: alegreya, serif;
font-weight: 400;
font-style: normal;

font-family: reenie-beanie, sans-serif;
font-weight: 500;
font-style: normal;



/*****BASE STYLES*****/

body {
    font-family: 'alegreya', serif;
    color: #2b2b2b;
}


#work {
    height: 1300px;
}

#work-serv {
  height: 500px;
}

#about {
  height: 700px;
}


#contact {
    height: 400px;
}


/**** layout ****/

.full-width {
  width: 1440px;
  margin: 0 auto;
}

.half-width {
   width: 720px;
   float: left;
}

.third-width {
  width: 480px;
  float: left;
}

/**** HEADER *****/


header {
    height: 800px;
    background: url("../img/dog-img.png");
    background-size: cover;
    background-color: #ebebeb;
}


header h1 {
    font-family: 'reenie-beanie', sans-serif;
    color: #2b2b2b;
    font-size: 100px;
    padding-top: 200px;
    padding-left: 5%;
 }

header h2{
  font-family: 'adorn-roman', sans-serif;
  color: #122932;
  font-size: 45px;
  letter-spacing: 10px;
    padding-left: 15%;
  margin-top: -130px;

}

nav {
    float: right;
    padding-right: 5%;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    font-family: 'adorn-roman', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: lowercase;
    color: #122932;
    padding-left: 25px;

}


/*****PORTFOLIO*****/


#work  {
    text-align: left;
    margin-bottom: 50px;
}


#work .full-width {
      padding: 15px 10px;
      margin: 0 auto;
}

#work .half-width {
  width: 520px;

}

#work h2 {
    font-family: 'adorn-condensed-sans', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #2b2b2b;

}

#work h5 {
    font-family: 'adorn-roman', sans-serif;
    font-size: 34px;
    margin-bottom: -40px;
}


work p {
    height: 30px;
    font-family: 'alegreya', serif;
    font-size: 24px;
    line-height: 30px;
}**/

/******WEB Portfolio ******/

#jubp {
  padding-top: 20px;
}

#jubp p {
  font-family: 'alegreya', serif;
  font-size: 24px;
}
#jubp a:link {
    color: #2b2b2b;
    text-decoration: none;
}

#jubp a:visited {
    color: #2b2b2b;
    text-decoration: none;
}

#jubp a:hover {
    color: #354b53;
    text-decoration: none;
}


#jubp a:active {
    color: #2b2b2b;
    text-decoration: none;
}

#jubimg {
  float: left;
  margin: 10px 50px 50px 150px;
  padding: 0px 25px;

}

#rogp p {
  font-family: 'alegreya', serif;
  font-size: 24px;
}

#rogp a:link {
    color: #2b2b2b;
    text-decoration: none;
}

#rogp a:visited {
    color: #2b2b2b;
    text-decoration: none;
}

#rogp a:hover {
    color: #354b53;
    text-decoration: none;
}


#rogp a:active {
    color: #2b2b2b;
    text-decoration: none;
}

#rogimg {
    float: left;
    margin: 25px 50px 50px 150px;
    padding: 0px 25px;
}

#manp {
  padding-top: 20px;
}

#manp p {
  font-family: 'alegreya', serif;
  font-size: 24px;
}
#manp a:link {
    color: #2b2b2b;
    text-decoration: none;
}

#manp a:visited {
    color: #2b2b2b;
    text-decoration: none;
}

#manp a:hover {
    color: #354b53;
    text-decoration: none;
}

#manp a:active {
    color: #2b2b2b;
    text-decoration: none;
}

#manimg {
  float: left;
  margin: 25px 50px 50px 150px;
  padding: 0px 25px;

}

/**Service Section**/

#work-serv {
  text-align: center;
}

#work-serv .full-width {
    padding: 100px 0;
}

#work-serv img {
    padding-bottom: 30px;
}

#work-serv h5 {
    font-size: 30px;
    line-height: 50px;
    width: 375px;
    margin: 0 auto;
    margin-bottom: -20px;
}

#work-serv p {
    font-family: 'alegreya', serif;
    font-size: 24px;
    line-height: 30px;
    padding: 0 50px;
}

/*****ABOUT ****/

#about {
  width: 100%;
  background-color: #ebebeb;

}

#about .full-width {
    padding: 15px 10px;
    margin: 0 auto;

}

#about h2 {
  font-family: 'adorn-condensed-sans', sans-serif;
  font-size: 48px;
  text-align: center;
  color: #2b2b2b;

}


#about #aboutimg {
    border-top: 8px solid #cccccc;
    border-bottom: 8px solid #cccccc;
    width: 395px;
    margin-left: 100px;
}

#about #aboutp {
    margin-left: 100px;
}

#about p {
    font-family: 'alegreya', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #282828;
    text-align: center;
  }
#aboutp span {
  font-family: 'reenie-beanie', sans-serif;
  font-size: 40px;
}

/****** CONTACT *****/


#contact .full-width {
    padding: 0px 10px;
    margin: 0 auto;
    height: 200px;
}

#contact h3 {
    font-family: 'adorn-roman', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: -60px;
}

#contact h5 {
    font-family: 'alegreya', serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #2b2b2b;
}
#contact ul {
  list-style: none;
}

#contact ul li {
    display: inline-block;
    padding: 0 70px;
    padding-bottom: 30px;

}

#contact #contact-icons {
   margin-left: 280px;
   padding-top: 20px;
}
